<h2 class="mt-5">Nothing found <small>(Error 404)</small></h2>
<div class="text-center">
  <img src="https://i.pinimg.com/736x/9f/74/df/9f74df08d6b47f40452a79305f85e0ac.jpg" class="rounded img-fluid">
</div>
